[submodule "third_party/libchdr"]
	path = third_party/libchdr
	url = https://github.com/rtissera/libchdr.git
[submodule "third_party/tiny-AES-c"]
	path = third_party/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
